%html
  %head
    %title Split Tweet
  %body
    %form{:action => '/update', :method => 'POST' }
      %p
        %textarea{:name => 'status'}
      %p
        = Rack::Csrf.tag(env)
        %input{:type => 'submit', :value => 'split & tweet'}
